<main class="container">
  <div class="row justify-content-center h-25 pt-2">
    <img src="assets/imatges/logo/logo.svg" class="col-11 col-md-8 img-fluid logo-sq" alt="Logo speedQuiz">
  </div>
  <div class="row h-50 justify-content-center">
    <form action="" class="col-12 d-flex justify-content-center ">
      <div class="row justify-content-center formContainer">
        <div class="col-md-6 mb-2">
          <input type="text" class="form-control" placeholder="Nom usuari">
        </div>
        <div class="col-md-6 mb-2">
          <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="col-md-6 mb-2">
          <input type="password" class="form-control" placeholder="Contrasenya">
        </div>
        <div class="col-md-6 mb-2">
          <input type="password" class="form-control" placeholder="Repateix la contrasenya">
        </div>
      </div>
    </form>
  </div>
  <div class="row h-25">
    <div class="col-6 d-flex justify-content-center align-items-center">
      <a routerLink=""><i class="fas fa-arrow-left arrowRouteConroller"></i></a>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-center">
      <a routerLink="/home"><i class="fas fa-arrow-right arrowRouteConroller"></i></a>
    </div>
  </div>
</main>
