<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <title>Document</title>
</head>
<body>
    <h6>Home</h6>
    <a href="{% url 'joc' %}"><h1>Joc</h1></a>
    <a href="{% url 'botiga' %}"><h1>Botiga</h1></a>
    <a href="{% url 'puntuacio' %}"><h1>Puntuació</h1></a>

    <p>{{ user.username }}</p>
    <p>{{ jugador.numFormatges }}</p>
    <p>{{ jugador.numFormatgets }}</p>
</body>
</html>