{% extends '../base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
{% block content %}
{% load static %}
  <body>
    <div class="container">
      <article class="row">
        <h1 class="h1 w-100 text-center mb-3 mt-2">Mención a los autores</h1>
        <section class="autorsContent col-6 mb-2">
          <img src="{% static '/imatges/fons/golfes.jpg' %}" alt="" srcset="" class="img-fluid autorsContent__img">
          <footer class="autorsContent__mencio">
            <a href="http://www.freepik.com" class="mencio__link" target="_blanck">Designed by vectorpocket / Freepik</a>
          </footer>
        </section>
        <section class="autorsContent col-6 mb-2">
          <img src="{% static '/imatges/fons/bosc.jpg' %}" alt="" srcset="" class="img-fluid autorsContent__img">
          <footer class="autorsContent__mencio">
            <a href="http://www.freepik.com" class="mencio__link" target="_blanck">Designed by vectorpocket / Freepik</a>
          </footer>
        </section>
        <section class="autorsContent col-6 mb-2">
          <img src="{% static '/imatges/fons/botiga.jpg' %}" alt="" srcset="" class="img-fluid autorsContent__img">
          <footer class="autorsContent__mencio">
            <a href="http://www.freepik.com" class="mencio__link" target="_blanck">Designed by Freepik</a>
          </footer>
        </section>
        <section class="autorsContent col-6 mb-2">
          <img src="{% static '/imatges/fons/joc.jpg' %}" alt="" srcset="" class="img-fluid autorsContent__img">
          <footer class="autorsContent__mencio">
            <a href="http://www.freepik.com" class="mencio__link" target="_blanck">Designed by vectorpocket / Freepik</a>
          </footer>
        </section>
        <section class="autorsContent col-6 mb-2">
          <img src="{% static '/imatges/components/formatge.svg' %}" alt="" srcset="" class="img-fluid autorsContent__img">
          <footer class="autorsContent__mencio">
            <div>
              Icon made by 
              <a href="https://smashicons.com/" class="mencio__link" target="_blanck"> Smashicons </a>
              from
              <a href="https://www.flaticon.com/" class="mencio__link" target="_blanck">www.flaticon.com </a>
            </div>
          </footer>
        </section>
      </article>
    </div>
  </body>
{% endblock %}
</html>