{% extends '../base.html'%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  {% block content%}
  {% load static %}
  <body>
    <div class="container">
      <div class="row h-25 justify-content-center pt-2">
        <img src="{% static '/imatges/logo/logo.svg' %}" alt="" srcset="" class="col-5"/>
      </div>
      <form method="POST" action="{% url 'registre' %}" class="row p-3 formulari align-items-center justify-content-center">
      {% csrf_token %}
      <div class="form__InputContainer">{{ form.username }}</div>
      <div class="form__InputContainer">{{ form.email }}</div>
      <div class="form__InputContainer">{{ form.password1 }}</div>
      <div class="form__InputContainer">{{ form.password2 }}</div>
      <div class="">
        <input class="mr-2" type="checkbox" required><a href="{%url 'politica' %}" class="text-dark">Política de privacitat</a>
      </div>
      <footer class="row w-100 justify-content-between align-items-center">
        <a href="{% url 'benvinguda' %}" class="col-2 col-md-1 h-100 contenidorFlexa--enrere"><i class="h-100 w-100 flexa flexa--enrera fas fa-long-arrow-alt-left" id="flexa--enrera"></i></a>
        <button type="submit" class="col-2 offset-8 col-md-1 offset-md-10 h-100 contenidorFlexa--devant"><i class="w-100 h-100 flexa flexa--devant fas fa-long-arrow-alt-right"id="flexa--devant"></i></button>
      </footer>
    </form>
</div>
</body>
{% endblock %}
</html>
