/* COLORS */
$primer-color: #FE6500;
$segon-color : #F07D33;
$tercer-color: #F2AA79;
$gris        : #BFBFBF;
$blanc       : #FCF1EA;

:root{
/* COLORS */
  --primer-color: #FE6500;
  --segon-color : #F07D33;
  --tercer-color: #F2AA79;
  --gris        : #BFBFBF;
  --blanc       : #FCF1EA;
}