/* COLORS */
$primer-color: #FE6500;
$segon-color : #F07D33;
$tercer-color: #F2AA79;
$gris        : #BFBFBF;
$blanc       : #FCF1EA;

:root{
/* COLORS */
  --primer-color: #FE6500;
  --segon-color : #F07D33;
  --tercer-color: #F2AA79;
  --gris        : #BFBFBF;
  --blanc       : #FCF1EA;
}

@font-face{
  font-family: speedQuiz;
  src: url('../../fonts/patrickHand/PatrickHand-Regular.ttf');
}
@font-face{
  font-family: text_sq;
  src: url('../../fonts/noticia/NoticiaText-Regular.ttf')
}
@font-face{
  font-family: text_sq_bold;
  src: url('../../fonts/noticia/NoticiaText-Bold.ttf')
}