.logoPertner--dinahosting{
  background-image: url('/static/imatges/logo/dinahosting.svg');
}
.logoPertner--websPunt{
  background-image: url('/static/imatges/logo/puntcat.png');
}
.logoParter{
  background-size: 100%;
  background-repeat: no-repeat;
}