.buto{
  background-color: var(--primer-color);
  border-radius: 9px;
  padding: 0 !important;

  max-height: 6rem;
  color: var(--blanc);
  border: 2px solid var(--tercer-color);
  a{
    font-family: 'Noticia Text', serif;
    font-weight: bold;
    color: var(--blanc);
  }
}