.formulari {
  height: 60%;
}
.form__InputContainer{
  width: 50%;
  display: flex;
  justify-content: center;
  input {
    width: 50%;
    height: 1rem;

    border: 0;
    border-bottom: 1px solid gray;
    padding-left: 0.5rem;
    opacity: 0.8;
    &:focus {
      outline: none;
      border-bottom: 1px solid $segon-color;
      caret-color: $segon-color;
    }
  }
}