.panell{
  height: 20%;
  width: 51%;
  
  background-color: $segon-color;
  border-radius: 9px;
  @include hombra;

  a{
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;

    font-weight: bold;
    font-size: 1.2rem;
    color: var(--blanc);
    @media screen and (min-width: 972px){
      font-size: 1.5rem;
    }

    span{
      margin-left: 1em;
    }
  }
}