*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin : 0;
  font-family: 'Noticia Text', serif;
}
main{
  height: 70%;
}
a{
  text-decoration: none !important;
}
.container{
  height: 100vh;
}
.logo{
  img{
    width: 100%;
    height: auto;
  }
}