$secondary-color: lighten(#FE6500, 30%);
.imgRatoli{
    max-height: 350px;
}
.card{
    border: 1px solid rgba(242, 170, 121, 0.8);
    background: transparent;
    transition: .7s;
    font-family: 'Patrick Hand', cursive;
    &:hover{
        transition: .7s;
        box-shadow: -1px 15px 30px -12px black;
    }
}
.card-header,
.card-footer{
    color: white;
    background-color: rgba(242, 170, 121, 0.8);
}
.card-body{
    position: relative;
}
.card-body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: solid 5px rgba(255, 255, 255, 0.1);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 60%, rgba(255, 255, 255, 0.05) 60%, rgba(255, 255, 255, 0.05) 80%, rgba(0, 0, 0, 0.1) 80%)
}
.card-footer{
    font-size: 1.5rem;
    button{
        font-weight: bold;
    }
}
svg{
    width: 2.5rem;
    path{
        fill: yellow;
    }
}