{% extends '../base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <title>Document</title>
</head>
{% block content %}
<body class="bodyBotiga">
  <div class="container">
    <header class="row configMenu align-items-center">
      <a href="{% url 'home' %}" class="col-2 col-md-1 h-100 contenidorFlexa--enrere"><i class="h-100 w-100 flexa flexa--enrera fas fa-long-arrow-alt-left" id="flexa--enrera"></i></a>
      <span class="col-2 col-md-1 offset-md-7 offset-4"><a href="/accounts/logout">{{ user.username }}</a></span>
      <span class="col-2 col-md-1"><span><img src="/static/imatges/components/formatge.png" alt="" srcset=""></span>{{ jugador.numFormatges }}</span>
      <span class="col-2 col-md-1"><span><i class="fas fa-cheese"></i></span>{{ jugador.numFormatgets }}</span>
    </header>
    <main class="row">
        {% for skin in skin_list %}
            {% if skin in skin_comprada %}
              <p>{{ skinP.posada }}</p>
              <h2>{{skin.nomSkin}}</h2>
              <p>Preu: {{skin.preu}}</p>
              {% for skincomprada in skin.skincomprada_set.all %}
                {% if skincomprada.idJugador == jugador and skincomprada.nomSkin == skin %}
                  {% if skincomprada.posada == True %}
                    <p>Posada</p>
                  {% else %}
                  <button>Posar</button>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% else %}
              <h2>{{skin.nomSkin}}</h2>
              <p>Preu: {{skin.preu}}</p>
              <button>Comprar</button>
            {% endif %}
        {% endfor %}
    </main>
  </div>

</body>
{% endblock %}
</html>