<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <title>Document</title>
</head>
<body>
  <h6>Botiga</h6>
  <p>Nom usuari: {{ user.username }}</p>
  <p>Formatges: {{ jugador.numFormatges }}</p>
  {% for skin in skin_list %}
    {% if skin in skin_comprada %}
      <p>{{ skinP.posada }}</p>
      <h2>{{skin.nomSkin}}</h2>
      <p>Preu: {{skin.preu}}</p>
      {% for skincomprada in skin.skincomprada_set.all %}
        {% if skincomprada.idJugador == jugador and skincomprada.nomSkin == skin %}
          {% if skincomprada.posada == True %}
            <p>Posada</p>
          {% else %}
          <button>Posar</button>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% else %}
      <h2>{{skin.nomSkin}}</h2>
      <p>Preu: {{skin.preu}}</p>
      <button>Comprar</button>
    {% endif %}
  {% endfor %}

</body>
</html>