$espai-cartellPreguntes: 10px;

.cartellPreguntes{
  background-color: #FE6500;
  border-radius: 15px;
  padding: $espai-cartellPreguntes;


  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $espai-cartellPreguntes;
  box-shadow: -1px 15px 30px -12px black;
}
.cartellPreguntes__pregunta{
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 5px;
  background-color: #fff;
  box-shadow: -15px 0 15px -15px #2C3E50, 15px 0 15px -15px #2C3E50;
}
.cartellPreguntes__resposta{
  grid-column: 1/ span 2;
  border-radius: 15px;
  background-color: #fff;
  &:hover{
    background-color:rgba(0, 0, 0, 0.795);
    color: white;
  }
}