<div class="back">
  <div class="container">
    <app-header></app-header>
    <main class="row">
        <section class="cartellPreguntesContainer col-6 col-md-6 p-2 pb-3">
            <div class="cartellPreguntes w-100 h-100" id="cartellPreguntes">
              <div class="cartellPreguntes__pregunta">
                pregunta
              </div>
              <button class="cartellPreguntes__resposta" *ngFor="let resposta of respostes">
                {{resposta}} 
              </button>
            </div>
          </section>
      <section class="col-6">
        <div class="row">
          <div class="col-12 h-25 d-flex dadesContainer">
            <div class="w-50 p-2">
              <div class="d-flex justify-content-center align-items-center" [ngClass]="{'correcte': isCorrecte, 'incorrecte': !isCorrecte}">
                {{textCorrecte}}
              </div>
            </div>
            <div class="w-50 d-flex justify-content-center align-items-center">
              1/10
            </div>
          </div>
          <div class="col-12 h-75 p-4 d-flex justify-content-center align-content-end">
            <img class="img-fluid ratoli" src="assets/imatges/components/skins/inicial.png" alt="">
          </div>
        </div>
      </section>
    </main>
  </div>
</div>