<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <title>Document</title>
</head>
<body>
  <h6>Puntuacio</h6>
  <p>Nom usuari: {{ user.username }}</p>
  <p>Formatges actuals: {{ jugador.numFormatges }}</p>
  <p>Partides jugades: {{ partida|length }} </p>
  <p>Formatges totals guanyats: {{ suma }}</p>
  <p>Formatgets totals guanyats: {{ sumaf }}</p>
  <p>Partides guanyades: {{ pG }}</p>
  <p>Partides perdudes: {{ pP }}</p>
</body>
</html>