<main class="container">
  <article class="row h-25">
      <div class="col-md-4 offset-md-1">
          <a href="">Atribució als autors</a>
      </div>
    <img src="assets/imatges/logo/logo.svg" class="col-md-4 offset-md-2" alt="Logo speedQuiz" srcset="">
  </article>
  <section class="row h-75 align-items-end justify-content-end">
      <div class="col-6 col-md-3 col-lg-2 offset-md-9 offset-md-10 pb-4 d-flex justify-content-center align-content-center">
        <a routerLink="/iniciSessio" >
          <button class="mr-1">Iniciar Sessió</button>
        </a>
      </div>
      <div class="col-6 col-md-3 col-lg-2 offset-md-9 offset-md-10 pb-4 d-flex justify-content-center align-content-center">
        <a routerLink="/registrarse">
          <button class="ml-1">Registrar-se</button>
        </a>
      </div>
  </section>
</main>
