<main class="container">
  <article class="row h-25">
      <div class="col-md-4 offset-md-1 d-flex justify-content-center align-items-center">
          <a routerLink="/home/joc" class="atrubucioAutors btn">Atribució als autors</a>
      </div>
    <img src="assets/imatges/logo/logo.svg" class="col-md-4 offset-md-2" alt="Logo speedQuiz" srcset="">
  </article>
  <section class="row h-75 align-items-end justify-content-end">
      <div class="col-6 col-md-3 col-lg-2 pb-4 d-flex justify-content-center align-content-center">
        <a routerLink="/iniciSessio" >
          <button class="mr-1 btn btn-primary">Iniciar Sessió</button>
        </a>
      </div>
      <div class="col-6 col-md-3 col-lg-2 pb-4 d-flex justify-content-center align-content-center">
        <a routerLink="/registrarse">
          <button class="ml-1 btn btn-primary">Registrar-se</button>
        </a>
      </div>
  </section>
</main>
